@font-face{
  font-family:Ailerons;
  src:url("Ailerons.otf");
}

.button{
  -fx-background-color:transparent;
  -fx-border-color:transparent;
  -fx-text-fill:#009BFD;
  -fx-font-size:10pt;
  -fx-font-family:Ailerons;
}

.combo-box{
  -fx-border-color:black;
}

.combo-box .list-cell{
  -fx-background-color:black;
  -fx-background:transparent;
  -fx-text-color:#009BFD;
}

.combo-box .list-view{
  -fx-border-color:black;
}

.combo-box .list-view .list-cell:hover{
  -fx-background-color:white;
  -fx-text-fill:#009BFD;
}

.combo-box .arrow, .combo-box .arrow-button{
    -fx-background-color: black;
    -fx-border-color:black;
}

.combo-box .scroll-bar{
  -fx-background-color:black;
}

.combo-box .scroll-bar:vertical,
.combo-box .scroll-bar:horizontal
{
    -fx-background-color: black;
    -fx-background-radius: 0;

}

.combo-box .scroll-bar:vertical .track
{
    -fx-background-color: black;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}


.combo-box .scroll-bar:horizontal .decrement-button
{
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

.combo-box .scroll-bar:vertical .decrement-button
{

    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.combo-box .scroll-bar .increment-arrow,
.combo-box .scroll-bar .decrement-arrow
{
    -fx-padding: -2;
}

.combo-box .scroll-bar:vertical .thumb,
.combo-box .scroll-bar:horizontal .thumb
{
    -fx-background-color: derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}


.button:hover{
   -fx-effect: dropshadow(three-pass-box, #009BFD, 15, 0, 0, 0);
}

.border-pane{
   -fx-background-radius:2em 2em 1em 1em;
   -fx-background-color:transparent;
}

.anchor{
  /*-fx-background-color:#FFF;
  -fx-background-radius:2em 2em 0 0;*/
  -fx-effect: dropshadow(three-pass-box, #009BFD, 10, 0, 0, 0);
    -fx-border-radius:2em;
    -fx-background-radius:2em;
}

.label{
  -fx-font-size:11pt;
  -fx-text-fill:white;
  -fx-font-family:Ailerons;
}

.text-field{
   -fx-background-color:transparent;
   -fx-text-fill: #009BFD;
   -fx-border-color: #009BFD;
   -fx-border-width: 0 0 2 0;
}

.text-area{
   text-area-background:black;
   -fx-text-fill: #009BFD;
   -fx-border-color: #009BFD;
   -fx-border-width: 0 0 2 0;
}

.text-area .content{
   -fx-background-color:text-area-background;
}


.text-area .scroll-bar:vertical,
.text-area .scroll-bar:horizontal
{
    -fx-background-color: black;
    -fx-background-radius: 0;

}

.text-area .scroll-bar:vertical .track
{
    -fx-background-color: black;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}


.text-area .scroll-bar:horizontal .decrement-button
{
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

.text-area .scroll-bar:vertical .decrement-button
{

    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.text-area .scroll-bar .increment-arrow,
.text-area .scroll-bar .decrement-arrow
{
    -fx-padding: -2;
}