.button{
  -fx-border-color:transparent;
  -fx-text-fill:#009BFD;
  -fx-background-color:#FFF;
  -fx-border-radius:3em;
  -fx-border-insets:-2;
  -fx-background-radius:5em;
}


.anchor-pane{
  /*-fx-border-color:#009BFD;*/
  -fx-effect: dropshadow(three-pass-box, #009BFD, 10, 0, 0, 0);
  -fx-border-radius:2em;
  -fx-background-radius:2em;
}

.scroll-pane{
   -fx-background-color:black;
}

.vbox{
  -fx-background-color:black;
}